[Unit]
Description=uWSGI Emperor service

[Service]
ExecStart=/var/www/1stProject/venv/bin/uwsgi --emperor /var/www/1stProject/run

User = django
Group = www-data

Restart=on-failure
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
StandardError=syslog

[Install]
WantedBy=multi-user.target
