{% extends "layout.html" %}
{% block title %}
입금내역 신규등록
{% endblock %}

{% block content %}
{% load humanize %}
<p></p>
<div class="container">
<div class="col-md-6 alert alert-danger">
    <h4>입금내역 등록</h4>
</div>
</div>
<p></p>
<div class="container">
<dl class="row">
    <dt class="col-sm-3">(반납) 차량번호</dt>
    <dd class="col-sm-9">{{data.car_num}}</dd>
    <dt class="col-sm-3">차종(모델)</dt>
    <dd class="col-sm-9">{{data.car_model}}</dd>
    <dt class="col-sm-3">반납일</dt>
    <dd class="col-sm-9">{{data.car_date|date:'Y-m-d'}}</dd>
</dl>
</div>
<div class="container">
<dl class="row">
    <dt class="col-sm-3">청구금액</dt>
    <dd class="col-sm-9">{{data.rq_price|intcomma}} 원</dd>
</dl>
</div>
<p></p>

<div class="container">
<form class="bd-example" method="post">
    {%csrf_token%}
    <fieldset>
        <p>
            <label for="input">입금액1</label>
            <input type="text", name="aa" placeholder="금액(숫자만)입력">
            <label for="input">입금날짜</label>
            <input type="date", name="bb" placeholder="1999-01-01">
        </p>
        <p></p>
        <p>
            <label for="input">입금액2</label>
            <input type="text", name="cc" placeholder="금액(숫자만)입력">
            <label for="input">입금날짜</label>
            <input type="date", name="dd" placeholder="1999-01-01">
        </p>
        <p></p>
        <p>
            <label for="input">입금액3</label>
            <input type="text", name="ee" placeholder="금액(숫자만)입력">
            <label for="input">입금날짜</label>
            <input type="date", name="ff" placeholder="1999-01-01">
        </p>
        <p></p>
        <p class="text-light bg-dark col-md-6">정산보류 요청</p>
        <p></p>
        <p>
            <label for="input">정산보류 요청일</label>
            <input type="date", name="gg" placeholder="1999-01-01">
        </p>
        <p>
            <label for="input">보류해지 요청일</label>
            <input type="date", name="hh" placeholder="1999-01-01">
        </p>
        <p></p>

        <p class="row justify-content-md-center">
        <a class="btn btn-outline-primary" href="{% url 'recovery:re_detail' pk=car.id%}" role="button">취소</a></button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          저장
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">입금내역 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                신규 등록하시겠습니까?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">취소</button>
                <button type="submit" class="btn btn-primary">저장</button>
              </div>
            </div>
          </div>
        </div>

    </fieldset>
</form>
</div>
<p></p>

{% endblock %}